html, body {
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  font-family: Helvetica, sans-serif;
}

body {
  line-height: 1.53;
  font-size: 16px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
}

//New style index2

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
}

.block_1 {
  height: 100vh;
  background: url("/images/masterskaya.jpg") no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.block_header {
  background: rgba(0, 0, 0, 0.37);
  width: 100%;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}

.header_list ul {
  display: flex;
  align-items: center;
}

.block_1_li {
  padding-left: 32px;
  list-style: none;
  color: white;
}

.block_1_li a {
  text-decoration: none;
  color: white;
}

.block_1_li:nth-child(1) {
  text-decoration: underline;
  cursor: pointer;
}

.block_1_li:nth-child(2):hover, .block_1_li:nth-child(3):hover, .block_1_li:nth-child(4):hover {
  text-decoration: underline;
  cursor: pointer;
}

.b-nav, .b-container {
  display: none;
}

.block_box {
  background: rgba(0, 0, 0, 0.37);
  width: 28%;
  min-width: 15.3rem;
  height: 11rem;
  margin: auto;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffffff;
}

.block_box_2 {
  background: rgba(0, 0, 0, 0.37);
  width: 98%;
  min-width: 14.3rem;
  height: 10.5rem;
  margin: auto;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffffff;
}

.block_box_2 p {
  width: 89%;
  font-size: 25px;
  color: white;
}

.block_box_2 p a {
  color: white;
}

.container_block_2 {
  width: 90%;
  display: grid;
  justify-self: center;
}

.block_2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "title ." "content sidebar" "title_2 title_2" "text text";
}

.title_bl_2 {
  background: #000;
  width: 32%;
  height: 3rem;
  grid-area: title;
  align-self: center;
  min-width: 12.9rem;
  display: grid;
  margin: 5rem 0 2rem;
}

.title_bl_2 h2 {
  color: white;
  text-align: center;
  align-self: center;
  margin: 0;
}

.job {
  width: 91%;
  min-width: 19.6rem;
  height: fit-content;
  grid-area: content;
}

.job_2 {
  width: 91%;
  min-width: 19.6rem;
  height: fit-content;
  grid-area: sidebar;
}

.job h3, .job_2 h3 {
  color: black;
}

.job:hover, .job_2:hover {
  cursor: pointer;
}

.job img:hover, .job_2 img:hover {
  filter: brightness(50%);
  transition: .2s;
  .title_text {
    display: block;
  }
}

.job img, .job_2 img {
  max-width: 100%;
}

.title_text {
  display: none;
  font-size: 19px;
  position: relative;
  top: 60%;
  left: 5%;
}

.title_text a {
  color: white;
}

.title_bl_3 {
  width: 20%;
  height: 3rem;
  min-width: 17rem;
  background: #000;
  grid-area: title_2;
  justify-self: center;
  display: grid;
  margin: 5rem 0 0;
}

.title_bl_3 h2 {
  color: white;
  text-align: center;
  align-self: center;
  margin: 0;
}

.block_2_text {
  width: 98%;
  grid-area: text;
  justify-self: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 2rem 0 3rem;
}

.block_3 {
  background: url("/images/ms_2.jpg") no-repeat;
  background-size: 100% 100%;
  margin: 2rem 0 0;
}

.block_3 img {
  max-width: 100%;
}

.block_3_text_2 {
  background: rgba(0, 0, 0, 0.37);
  border: 1px solid white;
  width: 51%;
  min-width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem auto 0;
  text-align: center;
  color: white;
}

.block_3_text {
  background: rgba(0, 0, 0, 0.37);
  border: 1px solid white;
  width: 98%;
  min-width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px auto;
  text-align: center;
  color: white;
}

.block__text {
  width: 51%;
  min-width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem auto 0;
  text-align: center;
  color: white;
}

.block_4 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  padding: 2rem 0 0;
}

.title_bl_4 {
  width: 31%;
  min-width: 21.4rem;
  height: 3rem;
  background: #000;
  justify-self: center;
  align-self: center;
  color: white;
  text-align: center;
  margin: 5rem 0 0;
}

.title_bl_44 {
  width: 31%;
  min-width: 21.4rem;
  height: 3rem;
  background: #000;
  justify-self: center;
  align-self: center;
  color: white;
  text-align: center;
  margin: 5rem 0 2rem;
}

.title_bl_4 h2 {
  margin: 0;
  padding: 5px;
}

.title_bl_44 h2 {
  margin: 0;
  padding: 5px;
}

.map_4 {
  align-self: center;
  margin: 0 0 5rem;
}

.block_4_text {
  width: 85%;
  justify-self: center;
  align-self: center;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 2rem 0;
}

.block_4_text p a {
  color: black;
}

.block_5 {
  display: grid;
  width: 100%;
  background: #000;
}

.footer_container {
  width: 90%;
  display: grid;
  justify-self: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer_contacts p {
  color: white;
  line-height: 1.53;
}

.footer_menu ul {
  padding: 0;
}

.footer_title {
  color: white;
}

.footer_li {
  list-style: none;
}

.footer_li a {
  text-decoration: none;
  color: #fff;
}

.footer_signature a {
  color: white;
}

.footer_color {
  color: white;
}

.footer_cr {
  color: black;
}

a {
  text-decoration: none;
}

#underline {
  text-decoration: underline;
}

@media screen and (max-width: 895px) {
  .block_box p {
    font-size: 22px;
  }
}

@media screen and (max-width: 790px) {
  .block_box p {
    font-size: 19px;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 90%;
  }
  .block_2 {
    grid-template-areas: "title title" "content content" "sidebar sidebar" "title_2 title_2" "text text";
  }
  .job, .job_2 {
    justify-self: center;
    align-self: center;
  }
  .job_2 {
    padding: 0 0 3rem;
  }
  .title_bl_3 {
    display: none;
  }
  .block_2_text {
    display: none;
  }
  .footer_container {
    grid-template-columns: 1fr 1fr;
  }

}

@media screen and (max-width: 630px) {
  .header_list ul {
    display: none;
  }
  .b-nav, .b-container {
    display: block;
  }
}

@media screen and (max-width: 525px) {
  body {
    font-size: 80%;
  }
  .block_box p {
    font-size: 15px;
  }
  .footer_container {
    grid-template-columns: 1fr;
  }

  .cr_s {
    width: 100%;
  }
  .container_carousel_1 ul {
    width: 100%;
  }
  .buttons_1 {
    left: 24%;
    top: -16%;
  }
}

@media screen and (min-width: 320px) {

}

//New style index3

.block_stone {
  height: 100vh;
  background: url("/images/face.jpg") no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.list_stone {
  color: white;
  padding-left: 32px;
  list-style: none;
}

.list_stone a {
  text-decoration: none;
  color: white;
}

.list_stone:nth-child(2) {
  text-decoration: underline;
  cursor: pointer;
}

.list_stone:nth-child(1):hover, .list_stone:nth-child(3):hover, .list_stone:nth-child(4):hover {
  text-decoration: underline;
  cursor: pointer;
}

.monument {
  padding: 2rem 0 0;
  width: 90%;
  display: grid;
  justify-self: center;
}

.bread_crumbs {
  height: 2rem;
  width: 30%;
  min-width: 19rem;
  align-self: center;
  padding: 0 0 5rem;
}

.bread_crumbs a {
  color: black;
}

.monument_title {
  width: 25%;
  height: 3rem;
  min-width: 13rem;
  background: #000;
  color: white;
  display: grid;
}

.monument_title h2 {
  align-self: center;
  text-align: center;
  margin: 0;
}

.monument_text {
  width: 60%;
  align-self: center;
  padding: 2rem 0 0;
}

.div_3 {
  width: 100%;
  background: #f0f0f0;
  display: grid;
  justify-self: center;
  margin: 2rem 0 0;
}

.container_div_3 {
  width: 90%;
  display: grid;
  justify-self: center;
}

.div_3_title {
  width: 28%;
  height: 3rem;
  min-width: 15.4rem;
  color: white;
  background: #000;
  display: grid;
  margin: 3rem 0 3rem;
}

.div_3_title h2 {
  align-self: center;
  text-align: center;
  margin: 0;
}

.div_3_box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 4rem;
}

.div_box {
  width: 17%;
}

.div_box img {
  max-width: 100%;
}

.stone_work {
  width: 90%;
  display: grid;
  justify-self: center;
  padding: 2rem 0 0;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "title ." "content saidbar";
}

.stone_work_title {
  background: #000;
  color: white;
  width: 54%;
  height: 3rem;
  min-width: 15.6rem;
  grid-area: title;
  display: grid;
  margin: 3rem 0 0;
}

.stone_work_title h2 {
  text-align: center;
  align-self: center;
  margin: 0;
}

.stone_work_text {
  width: 100%;
  padding: 2rem 0 0;
  min-width: 18.1rem;
  align-self: center;
  grid-area: content;
}

.stone_work_photo {
  width: 70%;
  min-width: 14.3rem;
  grid-area: saidbar;
  justify-self: center;
}

.stone_work_photo img {
  max-width: 100%;
}

.a_note {
  width: 71%;
  display: grid;
  padding: 2rem 0;
  margin: 2rem 0 0;
  justify-self: center;
  border-top: 1px solid rgba(0, 0, 0, 0.51);
  border-bottom: 1px solid rgba(0, 0, 0, 0.51);
}

.note_title {
  width: 20%;
  height: 3rem;
  min-width: 8rem;
  justify-self: center;
  align-self: center;
  text-align: center;
}

.note_text {
  width: 99%;
  text-align: center;
  align-self: center;
  justify-self: center;
  padding: 2rem 0 0;
}

.note_text p {
  font-size: 14px;
}

.carousel {
  width: 100%;
  padding: 2rem 0 0;
  display: grid;
}

.title_carousel {
  width: 38%;
  height: 3rem;
  color: white;
  justify-self: center;
  background: #000;
  min-width: 25.8rem;
  margin: 5rem 0 10rem;
  display: grid;
}

.title_carousel h2 {
  text-align: center;
  align-self: center;
  margin: 0;
}

.slides {
  position: relative;
  width: 34%;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.slides_2 {
  position: relative;
  width: 34%;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.container_carousel_1 {
  position: relative;
  width: 90%;
  margin: 0 auto;
  height: 40rem;
}

.container_carousel_2 {
  position: relative;
  width: 90%;
  margin: 0 auto;
  height: 25rem;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 13rem;
  opacity: 0;
  z-index: 1;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  font-size: 40px;
  box-sizing: border-box;
  color: #fff;
  background-size: cover;
}

.slide img {
  max-width: 100%;
}

.showing {
  opacity: 1;
  z-index: 2;
}

.controls {
  display: none;
}

.controls {
  background: #333;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  border: 2px solid #fff;
  margin: 10px 0 0 10px;
  width: 25%;
  min-width: 3rem;
  height: 5rem;
}

.controls:hover,
.controls:focus {
  background: #eee;
  color: #333;
}

.buttons_1 {
  position: absolute;
  left: 34%;
  top: -20%;
  z-index: 10;
  font-size: 0;
  width: 35%;
  min-width: 14rem;
}

.buttons_2 {
  position: absolute;
  left: 34%;
  top: -32%;
  z-index: 10;
  font-size: 0;
  width: 35%;
  min-width: 14rem;
}

@media screen and (max-width: 900px) {
  .div_3_box {
    font-size: 13px;
  }
  .container_carousel_1 {
    height: 30rem;
  }
}

@media screen and (max-width: 835px) {
  .note_text p {
    font-size: 13px;
  }
}

@media screen and (max-width: 768px) {
  .bread_crumbs {
    padding: 0 0 3rem;
  }
  .div_box {
    width: 8rem;
  }
  .div_3_box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .note_text p {
    font-size: 12px;
  }
  .title_carousel {
    min-width: 21.8rem;
  }
}

@media screen and (max-width: 685px) {
  .stone_work_photo {
    display: none;
  }
}

@media screen and (max-width: 525px) {
  .title_carousel {
    min-width: 19.8rem;
  }
  .container_carousel_1 {
    height: 42rem;
  }
}

@media screen and (max-width: 460px) {
  .div_3_box {
    grid-template-columns: 1fr 1fr;
  }
  .buttons_1 {
    left: 25%;
  }
}

@media screen and (max-width: 410px) {
  .container_carousel_1 {
    height: 35rem;
  }
}

//New style index4

.block_welding {
  height: 100vh;
  background: url("/images/svarka.jpg") no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.welding_li {
  padding-left: 32px;
  list-style: none;
}

.welding_li a {
  text-decoration: none;
  color: white;
}

.welding_li:nth-child(3) {
  text-decoration: underline;
  cursor: pointer;
}

.welding_li:nth-child(1):hover, .welding_li:nth-child(2):hover, .welding_li:nth-child(4):hover {
  text-decoration: underline;
  cursor: pointer;
}

.welding {
  width: 90%;
  display: grid;
  padding: 2rem 0 0;
  justify-self: center;
}

.welding_title {
  width: 26%;
  height: 3rem;
  background: #000;
  min-width: 14.8rem;
  display: grid;
  color: white;
}

.welding_title h2 {
  align-self: center;
  text-align: center;
  margin: 0;
}

.welding_title_2 {
  align-self: center;
  font-weight: 400;
  padding: 2rem 0 0;
  margin: 0;
}

.welding_title_2 h2 {
  margin: 0;
}

.welding_text {
  width: 76%;
  text-align: left;
}

.div_2 {
  width: 90%;
  padding: 2rem 0 0;
  display: grid;
  justify-self: center;
}

.div_2_title {
  width: 21%;
  height: 3rem;
  background: #000;
  align-self: center;
  min-width: 14.8rem;
  color: white;
  display: grid;
  margin: 5rem 0 0;
}

.div_2_title h2 {
  align-self: center;
  text-align: center;
  margin: 0;
}

.div_2_box {
  width: 80%;
  padding: 2rem 0 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.box_2 {
  width: 21%;
  min-width: 8.9rem;
}

.box_2 img {
  max-width: 100%;
  height: 8rem;
}

.metal {
  width: 90%;
  display: grid;
  justify-self: center;
  padding: 2rem 0 0;
}

.metal_title {
  width: 30%;
  height: 3rem;
  background: #000;
  margin: 5rem 0 0;
  align-self: center;
  min-width: 18.8rem;
  color: white;
  display: grid;
}

.metal_title h2 {
  align-self: center;
  text-align: center;
  margin: 0;
}

.metal_text {
  align-self: center;
  padding: 2rem 0 0;
}

@media screen and (max-width: 880px) {
  .div_2_box {
    font-size: 13px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .box_2 {
    width: 69%;
  }
  .slides_2 {
    width: 60%;
  }
}

@media screen and (max-width: 630px) {
  .welding_color a {
    color: #000;
  }
  .slides_2 {
    width: 80%;
  }
}

@media screen and (max-width: 520px) {
  .buttons_2 {
    left: 25%;
  }
}

@media screen and (max-width: 420px) {
  .div_2_box {
    grid-template-columns: 1fr;
  }
  .box_2 {
    width: 57%;
    min-width: 10rem;
  }
}

@media screen and (max-width: 390px) {
  .buttons_2 {
    left: 18%;
  }
}

//New style index5

.block_contacts {
  height: 100vh;
  background: url("/images/masterskaya.jpg") no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.contacts_li {
  color: white;
  padding-left: 32px;
  list-style: none;
}

.contacts_li a {
  text-decoration: none;
  color: white;
}

.contacts_li:nth-child(4) {
  text-decoration: underline;
  cursor: pointer;
}

.contacts_li:nth-child(1):hover, .contacts_li:nth-child(2):hover, .contacts_li:nth-child(3):hover {
  text-decoration: underline;
  cursor: pointer;
}

.contacts {
  width: 90%;
  padding: 2rem 0 0;
  display: grid;
  justify-self: center;
}

.contacts_title {
  background: #000;
  width: 21%;
  min-width: 11.8rem;
  height: 3rem;
  display: grid;
}

.contacts_title h2 {
  margin: 0;
  align-self: center;
  text-align: center;
  color: white;
}

.contacts_title_2 {
  padding: 2rem 0 0;
}

.contacts_text {
  width: 60%;
}

.contacts_info {
  width: 90%;
  padding: 2rem 0 0;
  display: grid;
  justify-self: center;
}

.info_title {
  width: 30%;
  height: 3rem;
  background: #000;
  align-self: center;
  min-width: 19.8rem;
  margin: 5rem 0 0;
  display: grid;
  color: white;
}

.info_title h2 {
  align-self: center;
  text-align: center;
  margin: 0;
}

.info_text {
  padding: 2rem 0;
}

.contacts_map {
  width: 100%;
  height: 32rem;
  display: grid;
}

.map_tl h2 {
  text-align: center;
  margin: 0;
}

.map_cts {
  width: 100%;
  height: 25rem;
  background: #bbff88;
}

$color-stack: (group: primary, id: normal, color: #fff),
(group: complement, id: normal, color: #444);

@function color($group, $shade:normal, $transparency:1) {
  @each $color in $color-stack {
    $c-group: map-get($color, group);
    $c-shade: map-get($color, id);
    @if ($group == map-get($color, group) and $shade == map-get($color, id)) {
      @return rgba(map-get($color, color), $transparency);
    }
  }
}

$b-height: 60px; //Height (and width) of the burger menu
$b-margin-top: 30px; //Burger menu margin (distance from top)
$b-margin-left: 30px; //Burger menu margin (distance from left)
$b-border-width: 2px; //Width of the borders and 'buns'
$b-bun-width: 25px; //Width of the 'buns'
$b-bun-height: $b-border-width; //Height of the 'buns'
$b-border-radius: 50%; //Change the border radius of the menu

$b-trans-speed: .4s; //Transition speed settings
$b-transition: all $b-trans-speed ease; //Transitions

$b-font-size: 24px; //Font size of brand and links
$b-font-family: Helvetica-Neue, Helvetica, Arial, sans-serif; //Font family of the brand and links
$b-font-weight: 300; //Font weight of brand and links
$b-txt-pad: 30px; //Left padding on both brand and links

$b-line-height: ($b-height / 2 - ($b-font-size / 2.8)); //Vertically centers brand to menu
$b-txt-pad-top: ($b-margin-top + $b-height + $b-txt-pad); //Top margin for first link element
$b-bun-width-half: ($b-bun-width / 2); //Half bun width used for calculation
$b-pad-left: ($b-height / 2 - $b-bun-width-half - 2); //Horizontally centers bun in menu
$b-pad-top: ($b-height / 2 - $b-bun-width-half); //Vertically centers bun in menu

@keyframes slideInLeft {
  0% {
    transform: translate3d(-250px, 0, 0);
    visibility: visible;
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutLeft {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-250px, 0, 0);
    visibility: hidden;
  }
}

* {
  box-sizing: border-box;
}

.body {
  &:after {
    background: color(primary);
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: auto;
    padding: 0;
    position: absolute;
    top: 0;
    transition: $b-transition;
    width: 100%;
  }

  &.open {
    overflow: hidden;
  }

  &.open:after {
    opacity: 1;
    visibility: visible;
  }
}

.b-nav {
  position: absolute;
  z-index: 11;

  &:not(.open) {
    visibility: hidden;
  }

  li {
    color: color(complement);
    list-style-type: none;
    //padding: 10px;
    text-align: left;
    transform: translateX(-250px);
  }

  li:not(.open) {
    animation-duration: $b-trans-speed;
    animation-fill-mode: both;
    animation-name: slideOutLeft;
  }

  li:first-child {
    padding-top: 75px;
  }

  &.open {
    visibility: visible;

    li {
      animation-duration: $b-trans-speed;
      animation-fill-mode: both;
      animation-name: slideInLeft;
    }
  }
}

.b-link {
  background: transparent;
  border-left: color(complement, normal, 0) solid $b-border-width;
  color: white;
  font-family: $b-font-family;
  font-size: 19px;
  font-weight: $b-font-weight;
  margin-left: $b-margin-left;
  text-decoration: none;
  transition: $b-transition;
  width: auto;

  &:hover,
  &--active {
    border-left: color(complement) solid $b-border-width;
    padding-left: $b-txt-pad;
  }
}

.b-menu {
  background: rgba(0, 0, 0, 0.37);
  border: 1px solid #ffffff;
  border-radius: $b-border-radius;
  cursor: pointer;
  display: inline-block;
  height: $b-height;
  padding-left: $b-pad-left;
  padding-top: $b-pad-top;
  position: relative;
  transition: $b-transition;
  user-select: none;
  width: $b-height;
  z-index: 12;

  &:hover {
    border: color(complement) solid $b-border-width;
  }
}

.b-bun {
  background: white;
  position: relative;
  transition: $b-transition;

  &--top {
    height: $b-bun-height;
    top: 0;
    width: $b-bun-width;
  }

  &--mid {
    height: $b-bun-height;
    top: 8px;
    width: $b-bun-width;
  }

  &--bottom {
    height: $b-bun-height;
    top: 16px;
    width: $b-bun-width;
  }
}

.b-brand {
  color: color(primary);
  font-family: $b-font-family;
  font-size: 19px;
  font-weight: $b-font-weight;
  margin-left: 15px;
  position: relative;
  text-decoration: none;
  top: -$b-line-height;
  transition: $b-transition;
  z-index: 13;
}

.b-container {
  height: $b-height;
  left: 20px;
  position: absolute;
  top: 5px;

  &:hover:not(.open) {
    .bun-top,
    .bun-mid,
    .bun-bottom {
      background: white;
    }
  }

  &.open {
    .b-main {
      border: color(complement) solid $b-border-width;
    }

    .b-bun--top {
      background: white;
      top: 9px;
      transform: rotate(45deg);
    }

    .b-bun--mid {
      opacity: 0;
    }

    .b-bun--bottom {
      background: white;
      top: 5px;
      transform: rotate(-45deg);
    }

    .b-brand {
      color: white;
    }
  }
}