<!Doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Мастерская</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style><%- criticalStyle %></style>
    <!--<link rel="stylesheet" href="/style/grid-system.css">-->
</head>
<body class="grid">
<div class="wrapper">
    <header class="header">
        <div class="helmet">
            <div class="container">
                <div class="helmet_menu">
                    <div class="menu">
                        <a href="#">Главная</a>
                    </div>
                    <div class="menu">
                        <a href="#">Мемориальные памятники</a>
                    </div>
                    <div class="menu">
                        <a href="#">Сварочные работы</a>
                    </div>
                    <div class="menu">
                        <a href="#">Контакты</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="block__header">
                <div class="header_block">
                    <div class="block_info bl_if">
                        Мастерская в <br> Осиново
                    </div>
                    <div class="block_info">
                        +790-45-67-846-4
                    </div>
                </div>
                <!--<div class="header_block_two">-->
                <!--<div class="info_block">-->
                <!--Обратный звонок-->
                <!--</div>-->
                <!--<div class="info_block">-->
                <!--<h6>Укажите ваш телефон (обязательно)</h6>-->
                <!--</div>-->
                <!--<div class="info_input">-->
                <!--<input type="tel" size="25" required placeholder="Ваш номер телефона">-->
                <!--<p><input type="button" value="Заказать обратный звонок"></p>-->
                <!--</div>-->

                <!--</div>-->
            </div>
        </div>


    </header>
    <div class="types_jobs">
        <div class="container">
            <div class="title_jobs">
                <h1>Виды работ</h1>
            </div>
            <div class="jobs">
                <div class="types">
                    <a href="#">
                        <h3 class="jobs_h3">Мемориальная памятники</h3>
                        <img src="/images/face.jpg" width="456" height="306" alt="Наши работы">
                    </a>
                    <div class="types__some">
                        <a href="#">Перейти</a>
                    </div>
                </div>
                <div class="types">
                    <a href="#">
                        <h3 class="jobs_h3">Сварочные работы</h3>
                        <img src="/images/svarka.jpg" width="456" height="306" alt="Наши работы">
                    </a>
                    <div class="types__some">
                        <a href="#">Перейти</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="company_policies">
        <div class="container">
            <div class="cp_tl">
                <h2>Правила компании</h2>
            </div>
            <div class="cp_bl">
                <div class="bl">
                    <div class="tx">
                        <p>Консультация, <br>
                            составление сметы, <br>
                            «бесплатно»
                        </p>
                    </div>
                    <div class="bl_br">
                        <img src="/images/rules_logo_1.png" width="70" height="70" alt="Лого">
                    </div>
                </div>
                <div class="bl">
                    <div class="tx">
                        <p>Исполнение <br>
                            заказа в срок</p>
                    </div>
                    <div class="bl_br">
                        <img src="/images/logo_2.png"  alt="Лого">
                    </div>
                </div>
                <div class="bl">
                    <div class="tx">
                        <p>Доставка, <br>
                            показ работы
                        </p>
                    </div>
                    <div class="bl_br">
                        <img src="/images/rules_logo_3.jpg" width="70" height="70" alt="Лого">
                    </div>
                </div>
                <div class="bl">
                    <div class="tx">
                        <p>
                            Довольный <br>
                            клиент
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="information">
        <div class="container">
            <div class="in_rl">
                <div class="rules">
                    <div class="info_rules">
                        <h2>Мастерская в Осиново</h2>
                        <p>Что такое мастерская ? «это работа прежде всего» <br>
                            Предоставляет собой место оборудованное для работ по камню и металлу, <br>
                            главной особенностью которого является большая доля ручного труда. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="map">
        <div class="container">
            <div class="map_title">
                <h2>Наше местонахождение </h2>
            </div>
            <div class="container_map">
                <iframe src="https://yandex.ru/map-widget/v1/-/CBUTYTUuxB" width="925" height="334"
                        frameborder="0"></iframe>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="ft_bl">
                <div class="footer_block">
                    <div class="ft_title">
                        <h2>У вас появились <br> вопросы?</h2>
                    </div>
                    <div class="footer_info">
                        Обратный звонок
                    </div>
                    <div class="footer_info">
                        <h6>Укажите ваш телефон (обязательно)</h6>
                    </div>
                    <div class="footer_input">
                        <input type="tel" size="25" required placeholder="Ваш номер телефона">
                        <p><input type="button" value="Заказать обратный звонок"></p>
                    </div>
                </div>
                <div class="footer_menu">
                    <div class="mn_title">
                        <h2>Меню</h2>
                    </div>
                    <div class="ft_menu">
                        <a href="#">Главная</a>
                    </div>
                    <div class="ft_menu">
                        <a href="#">Мемориальные памятники</a>
                    </div>
                    <div class="ft_menu">
                        <a href="#">Сварочные работы</a>
                    </div>
                    <div class="ft_menu">
                        <a href="#">Контакты</a>
                    </div>
                </div>
                <div class="contacts">
                    <div class="ct_title">
                        <h2>Контакты</h2>
                    </div>
                    <div class="ct_menu">
                        Мастерская в Осиново <br>
                        +790-45-67-846-4 <br>
                        Зеленадольский р-н, <br>
                        пос.Осиново, ул.Майская 5
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

</body>
</html>