<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Мастерская</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style><%- criticalStyle %></style>
    <!--<link rel="stylesheet" href="/style/grid-system.css">-->
</head>
<body class="grid">
<div class="grid-container">
    <div class="block_stone box">
        <div class="block_header">
            <div class="header_list">
                <ul>
                    <li class="list_stone"><a href="index2.html">Главная</a></li>
                    <li class="list_stone"><a href="index3.html">Мемориальные памятники</a></li>
                    <li class="list_stone"><a href="index4.html">Сварочные работы</a></li>
                    <li class="list_stone"><a href="index5.html">Контакты</a></li>
                </ul>
            </div>
        </div>
        <div class="block_box">
            <p>Мастерская в Осиново <br>
                +7(904)-567-84-64</p>
        </div>
    </div>
    <div class="monument box">
        <div class="bread_crumbs">
            <a href="index2.html">Главная</a> / Мемориальные памятники
        </div>
        <div class="monument_title">
            <h2>О памятниках</h2>
        </div>
        <div class="monument_text">
            <p>При заказе памятника важно определиться с его формой. От этого зависит итоговая стоимость памятника.
                Гранитные памятники обладают большим разнообразием форм. Традиционной принято считать прямоугольную
                форму, как самую лаконичную и строгую. Наша компания может предложить и другие формы памятников –
                фигурную, резную, овальную и т.д. Кроме этого, есть возможность сделать памятник как одинарным, так и
                двойным. Соответственно, и общая компоновка надгробного комплекса может быть различной – вертикальной
                или горизонтальной. </p>
        </div>
    </div>
    <div class="div_3 box">
        <div class="container_div_3">
            <div class="div_3_title">
                <h2>Виды памятников</h2>
            </div>
            <div class="div_3_box">
                <div class="div_box">
                    <h4>Вертикальный</h4>
                    <img src="/images/stone_1.png" alt="Портфолио">
                    <p>
                        В ассортименте <br>
                        Цена от: договорная
                    </p>
                </div>
                <div class="div_box">
                    <h4>Горизонтальный</h4>
                    <img src="/images/stone_2.png" alt="Портфолио">
                    <p>
                        В ассортименте <br>
                        Цена от: договорная
                    </p>
                </div>
                <div class="div_box">
                    <h4 style="white-space: nowrap">Памятник с крестом</h4>
                    <img src="/images/stone_3.png" alt="Портфолио">
                    <p>
                        В ассортименте <br>
                        Цена от: договорная
                    </p>
                </div>
                <div class="div_box">
                    <h4>Маленький</h4>
                    <img src="/images/stone_4.png" alt="Портфолио">
                    <p>
                        В ассортименте <br>
                        Цена от: договорная
                    </p>
                </div>
                <div class="div_box">
                    <h4>Двойной</h4>
                    <img src="/images/stone_5.png" alt="Портфолио">
                    <p>
                        В ассортименте <br>
                        Цена от: договорная
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="stone_work">
        <div class="stone_work_title">
            <h2>Работы по камню</h2>
        </div>
        <div class="stone_work_text">
            <p>
                Работы по камню это: художественное оформление <br>
                1. Гравировка портрета <br>
                2. Нанесение текста (ФИО, даты рождения и смерти, эпитафии). <br>
                3. Нанесение графических элементов (кресты, цветы, картины, иконы <br>
                4. Вырез любой формы памятника, по вашему эскизу <br>
                5. Установка памятника <br>

            </p>
        </div>
        <div class="stone_work_photo">
            <img src="/images/hammer_photo.png" alt="Photo">
        </div>
    </div>
    <div class="a_note">
        <div class="note_title"><h3>На заметку</h3></div>
        <div class="note_text"><p>В первую очередь стоит отметить прочность материала и надежность. Именно из–за этого
                его
                добавляют в различные конструкции, приборы и оборудование.
                Металл способен выдерживать тяжелейшие нагрузки. Он может стойко сохранять свои свойства
                даже при холодной и жаркой погоде. Современные покрытия делают его износостойким и
                долговечным.
                С таким материалом проделывают различные процессы, резка металла осуществляется достаточно
                часто. Она способна изменить размер металлической детали и ее форму в кратчайшее время,
                прилагая минимум усилий.</p></div>
    </div>
    <div class="carousel">
        <div class="title_carousel">
            <h2>Примеры выполняемых работ</h2>
        </div>

        <div class="container_carousel_1">
            <ul id="slides" >
                <li class="slide showing">
                    <img src="/images/photo_car_1.jpg" alt="photo_1">
                </li>
                <li class="slide">
                    <img src="/images/photo_car_2.jpg" alt="photo_2">
                </li>
                <li class="slide">
                    <img src="/images/photo_car_3.jpg" alt="photo_3">
                </li>
                <li class="slide">
                    <img src="/images/photo_car_4.png" alt="photo_4">
                </li>
            </ul>
            <div class="buttons_1">
                <button class="controls" id="previous">&lt;</button>
                <button class="controls" id="pause">&#10074;&#10074;</button>
                <button class="controls" id="next">&gt;</button>
            </div>
        </div>
        <script>
            var controls = document.querySelectorAll('.controls');
            for(var i=0; i<controls.length; i++){
                controls[i].style.display = 'inline-block';
            }

            var slides = document.querySelectorAll('#slides .slide');
            var currentSlide = 0;
            var slideInterval = setInterval(nextSlide,2000);

            function nextSlide(){
                goToSlide(currentSlide+1);
            }

            function previousSlide(){
                goToSlide(currentSlide-1);
            }

            function goToSlide(n){
                slides[currentSlide].className = 'slide';
                currentSlide = (n+slides.length)%slides.length;
                slides[currentSlide].className = 'slide showing';
            }


            var playing = true;
            var pauseButton = document.getElementById('pause');

            function pauseSlideshow(){
                pauseButton.innerHTML = '&#9658;'; // play character
                playing = false;
                clearInterval(slideInterval);
            }

            function playSlideshow(){
                pauseButton.innerHTML = '&#10074;&#10074;'; // pause character
                playing = true;
                slideInterval = setInterval(nextSlide,2000);
            }

            pauseButton.onclick = function(){
                if(playing){ pauseSlideshow(); }
                else{ playSlideshow(); }
            };

            var next = document.getElementById('next');
            var previous = document.getElementById('previous');

            next.onclick = function(){
                pauseSlideshow();
                nextSlide();
            };
            previous.onclick = function(){
                pauseSlideshow();
                previousSlide();
            };
        </script>

        <div class="block_5 box">
            <div class="footer_container">
                <div class="footer_contacts">
                    <h2 class="footer_title">Контакты:</h2>
                    <p>
                        Мастерская в Осиново <br>
                        +7(904)-567-84-64 <br>
                        Зеленадольский р-н, <br>
                        пос.Осиново, ул.Гагарина 15, <br>
                        Гаражный сектор
                    </p>
                </div>
                <div class="footer_menu">
                    <h2 class="footer_title">Меню:</h2>
                    <ul>
                        <li class="footer_li"><a href="index2.html">Главная</a></li>
                        <li class="footer_li"><a href="index3.html">Мемориальные памятники</a></li>
                        <li class="footer_li"><a href="index4.html">Сварочные работы</a></li>
                        <li class="footer_li"><a href="index5.html">Контакты</a></li>
                    </ul>
                </div>
                <div class="footer_signature">
                    <h2 class="footer_title">Сайт сделан: <a id="underline" href="http://mib.store/">MIB</a></h2>
                </div>
            </div>
        </div>
    </div>
</body>
</html>