<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Мастерская-Мемориальные памятники, Сварочные работы, +7(967)-367-24-26</title>
    <meta name="keywords" content="Мастерская в Осиново, Мастерская в Казани, Мастерская в Залесном, Мастерская в Юдино, Мастерская, Ритуальные услуги, Ритуальные услуги в Осиново, Ритуальные услуги в Казани, Ритуальные услуги в Юдино, Ритуальные услуги в Залесном, Сварочные работы, Памятники, Мемориальные памятники, сварщик, выполнение сварочных работ, Работы по металлу, металл, изделия из металла, сварка, установка металло изделий, все видды работ по металлу   ">
    <meta name="description" content="Масстерская-все виды работ по камню и металлу в Осиново и +7(967)-367-24-26">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="yandex-verification" content="d4ee21d83b40477e"/>
    <style><%- criticalStyle %></style>
    <!--<link rel="stylesheet" href="/style/grid-system.css">-->
</head>
<body class="open">
<div class="grid-container">
    <div class="block_1 box">
        <div class="block_header">
            <div class="header_list">
                <ul>
                    <li class="block_1_li"><a href="Главная.html">Главная</a></li>
                    <li class="block_1_li"><a href="Мемориальные памятники.html">Мемориальные памятники</a></li>
                    <li class="block_1_li"><a href="Сварочные работы.html">Сварочные работы</a></li>
                    <li class="block_1_li"><a href="Контакты.html">Контакты</a></li>
                </ul>
            </div>
        </div>
        <!-- Navigation -->
        <div class="b-nav">
            <li><a class="b-link" href="Главная.html">Главная</a></li>
            <li><a class="b-link" href="Мемориальные памятники.html">Мемориальные памятники</a></li>
            <li><a class="b-link" href="Сварочные работы.html">Сварочные работы</a></li>
            <li><a class="b-link" href="Контакты.html">Контакты</a></li>
        </div>
        <!-- Burger-Icon -->
        <div class="b-container">
            <div class="b-menu">
                <div class="b-bun b-bun--top"></div>
                <div class="b-bun b-bun--mid"></div>
                <div class="b-bun b-bun--bottom"></div>
            </div>
            <!-- Burger-Brand -->
            <a href="#" class="b-brand">Меню</a>
        </div>
        <div class="block_box">
            <div class="block_box_2">
                <p>Мастерская в Осиново <br>
                    <a href="tel:+7(967)-367-24-26">+7(967)-367-24-26</a>
                    <a href="tel:+7(950)-947-71-55">+7(950)-947-71-55</a></p>
            </div>
        </div>
    </div>
    <div class="container_block_2">
        <div class="block_2 box">
            <div class="title_bl_2">
                <h2>Виды работ</h2>
            </div>
            <a href="index3.html">
                <div class="job">
                    <h3 id="underline">Мемориальные памятники</h3>
                    <img src="/images/ms_face.jpg" alt="Перейти">
                    <p class="title_text"><a href="#">Перейти</a></p>
                </div>
            </a>
            <a href="index4.html">
                <div class="job_2">
                    <h3 id="underline">Сварочные работы</h3>
                    <img src="/images/ms_svarka.jpg" alt="Перейти">
                    <p class="title_text"><a href="#">Перейти</a></p>
                </div>
            </a>
            <div class="title_bl_3">
                <h2>Правила компании</h2>
            </div>
            <div class="block_2_text">
                <div class="block_info_text bit">
                    <p>
                        Консультация, <br>
                        составление сметы <br>
                        "бесплатно"
                    </p>
                </div>
                <div class="block_info_text">
                    <img src="/images/rules_logo_1.png" width="70" height="70" alt="Лого">
                </div>
                <div class="block_info_text text_block">
                    <p>
                        Исполнение <br>
                        заказа в срок
                    </p>
                </div>
                <div class="block_info_text">
                    <img src="/images/rules_logo_3.jpg" width="70" height="70" alt="Logo">
                </div>
                <div class="block_info_text text_block">
                    <p>
                        Доставка, <br>
                        показ работы
                    </p>
                </div>
                <div class="block_info_text">
                    <img src="/images/rules_logo_2.png" width="70" height="70" alt="logo">
                </div>
                <div class="block_info_text text_block">
                    <p>
                        Довольный <br>
                        клиент
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="block_3 box">
        <div class="block_3_text_2">
            <div class="block_3_text">
                <h2>Мастерская в Осиново</h2>
                <p>
                    Что такое мастерская ? «это работа прежде всего»
                    Предоставляет собой место оборудованное для работ по камню и металлу,
                    главной особенностью которого является большая доля ручного труда.
                </p>
            </div>
        </div>
        <div class="block__text">
            <p>
                Что такое мастерская ? «это работа прежде всего»
                Предоставляет собой место оборудованное для работ по камню и металлу,
                главной особенностью которого является большая доля ручного труда.
                Предоставляет собой место оборудованное для работ по камню и металлу,
                главной особенностью которого является большая доля ручного труда.
            </p>
            <p>
                П.С — Цените свой труд
            </p>
        </div>


    </div>
    <div class="block_4 box">
        <div class="title_bl_4">
            <h2>Наше местонахождение</h2>
        </div>
        <div class="block_4_text">
            <p>
                Звоните и заказывайте прямо сейчас! <br>
                <a href="tel:+7(967)-367-24-26">+7(967)-367-24-26</a> <br>
                Изготовим от 1 до 14 дней. Доставка 1-день. <br>
                Работаем с 9:00 до 20:00

            </p>
        </div>
        <div class="map_4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d71626.94033014885!2d48.83327771780303!3d55.874083919040004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x41595172eb969209%3A0x9e4c4ea7564e5f54!2zVW5uYW1lZCBSb2FkLCDQoNC10LzQv9C70LXRgCwg0KDQtdGB0L8uINCi0LDRgtCw0YDRgdGC0LDQvSwgNDIyNTI3!5e0!3m2!1sru!2sru!4v1511878656040"
                    height="450" frameborder="0" style="width: 100%" allowfullscreen></iframe>
        </div>
    </div>
    <div class="block_5 box">
        <div class="footer_container">
            <div class="footer_contacts">
                <h2 class="footer_title">Контакты:</h2>
                <p>
                    Мастерская в Осиново <br>
                    <a href="tel:+7(967)-367-24-26">+7(967)-367-24-26</a> <br>
                    Зеленадольский р-н, <br>
                    пос.Осиново, ул.Гагарина 15, <br>
                    Гаражный сектор
                </p>
            </div>
            <div class="footer_menu">
                <h2 class="footer_title">Меню:</h2>
                <ul>
                    <li class="footer_li"><a href="Главная.html">Главная</a></li>
                    <li class="footer_li"><a href="Мемориальные памятники.html">Мемориальные памятники</a></li>
                    <li class="footer_li"><a href="Сварочные работы.html">Сварочные работы</a></li>
                    <li class="footer_li"><a href="Контакты.html">Контакты</a></li>
                </ul>
            </div>
            <div class="footer_signature">
                <h2 class="footer_title">Сайт сделан: <a id="underline" href="http://mib.store/">MIB</a></h2>
            </div>
        </div>
    </div>
</div>
<script>
    'use strict';

    (function() {
        var body = document.body;
        var burgerMenu = document.getElementsByClassName('b-menu')[0];
        var burgerContain = document.getElementsByClassName('b-container')[0];
        var burgerNav = document.getElementsByClassName('b-nav')[0];

        burgerMenu.addEventListener('click', function toggleClasses() {
            [body, burgerContain, burgerNav].forEach(function (el) {
                el.classList.toggle('open');
            });
        }, false);
    })();
</script>
</body>
</html>